.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.particles{
  /* background is fixed so navigation, urls, and image recognition will overlap on the particles. */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index -1 specifies that it is the lowest layer */
  z-index: -1;
}